# Host URL for parsing
XML_URL=https://expro.ru/bitrix/catalog_export/export_Sai.xml

# DB credentials for local development
DB_URL=jdbc:postgresql://localhost:5432/testdb
DB_USER=user
DB_PASS=password
DB_DRIVER=org.postgresql.Driver